<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head::common_js_css_bootstrap"></head>
<body>
<style>
	.form-group{
		padding-top: 10px;
		padding-right: 5px;

	}
</style>
<div class="container-fluid" id="main-container">
	<div id="page-content" class="clearfix">
		<div class="row-fluid">
			<div class="row-fluid">
				<br/>

				<form action="/order/index" method="post" class="form-inline" name="Form" id="Form">
					<!-- ---+搜索条件 start+----- -->
					<div class="form-group">
						<label>驾校名称</label>
						<select id="school_id" name="school_id" class="form-control">
							<option value="">请选择驾校名称</option>
							<option th:each="sc,scStat:${list}" th:value="${sc.getId()} " th:selected="${sc.getId().equals(pd.get('school_id'))}" th:text="${sc.getSchool_name()}"></option>

						</select>
					</div>
					<div class="form-group">
						<label>订单状态</label>
						<select name="status" class="form-control">
							<option value="">请选择订单状态</option>
							<option value="0" th:selected="${pd.get('status')=='0'}">未付款</option>
							<option value="1" th:selected="${pd.get('status')=='1'}">已付款</option>
							<option value="6" th:selected="${pd.get('status')=='6'}">已退款</option>

						</select>
					</div>



					<div class="form-group">
						<label >订单号</label>
						<input type="text" name="order_sn" th:value="${pd.get('order_sn')}" class="form-control" id="order_sn" placeholder="订单号">
					</div>
					<div class="form-group">
						<label >学员姓名</label>
						<input type="text" name="name" th:value="${pd.get('name')}" class="form-control" id="name" placeholder="学员姓名">
					</div>

					<div class="form-group">
						<label >学员手机号</label>
						<input type="text" name="phone" th:value="${pd.get('phone')}" class="form-control" id="phone" placeholder="学员手机">
					</div>


					<button type="submit" class="btn btn-default">查询</button>
					<hr>

					<!--列表数据 start-->
					<table id="table_report"
						   class="table ">
						<thead>
						<tr>
							<th class='center' style="min-width:3%">订单号</th>
							<th class='center' style="min-width: 10%">姓名</th>
							<th class='center' style="min-width: 7%">手机</th>
							<th class='center' style="min-width: 7%">订单状态</th>
							<th class='center' style="min-width: 7%">报考驾校</th>
							<th class='center' style="min-width: 7%">驾照类型</th>
							<th class='center' style="min-width: 7%">驾照套餐</th>
						</tr>
						</thead>
						<tbody th:if="${dataPager.getRecords()!=null}">
						<tr th:each="record,recordStat:${dataPager.getRecords()}">
							<td class='center' th:text="${record.order_sn}"></td>
							<td class='center' th:text="${record.name}"></td>
							<td class='center' th:text="${record.phone}"></td>

							<td class='center' th:text="${record.status}"></td>
							<td class='center' th:text="${record.school_name}"></td>
							<td class='center' th:text="${record.subject}"></td>
							<td class='center' th:text="${record.subject_name}"></td>



						</tr>
						</tbody>
					</table>
					<div th:if="${dataPager.getRecords()!=null}">
						<span th:insert="page::page_common"></span>
					</div>

				</form>


			</div>
		</div>
	</div>



	<!--/#page-content-->
</div>

<!--/.fluid-container#main-container-->
<!-- 返回顶部  -->
<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse"> <i
		class="icon-double-angle-up icon-only"></i>
</a>


<script type="text/javascript">

	layui.use(['laydate','layer',], function() {
		var laydate = layui.laydate //日期
				, layer = layui.layer //弹层
	});


	function addInfo(){

		layer.open({
			title:false,
			area:["100%","100%"],
			type: 2,
			closeBtn: 0, //不显示关闭按钮
			content: '/mark/to_add',
			end:function(){
				//窗口关闭触发
				$("#Form").submit();

			}
		})
	}

	function updateAndLook(ids){
		layer.open({
			title:false,
			area:["100%","100%"],
			type: 2,
			closeBtn: 0, //不显示关闭按钮
			content: '/mark/to_update?id='+ids,
			end:function(){
				//窗口关闭触发
				$("#Form").submit();

			}
		})

	}
</script>

</body>

</html>