<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head::common_js_css_bootstrap"></head>
<head th:insert="head::kindeditor"></head>
<style>

    .layui-form-label {
        width: 130px;
    }
    .layui-input-block {
        margin-left: 130px;
    }
</style>
<body>

<div>
    <span onclick="cancelToast()" class="btn btn-lg btn-default " style="border: 0px">返回</span>
</div>
<div class="container-fluid"  style="width:880px; margin: auto">



    <form  class="layui-form" action="/teacher/save" method="post" enctype="multipart/form-data" >
        <input type="hidden" th:value="${teacher.getId()}" name="id" id="id" required lay-verify="required"   class="layui-input">

        <div class="layui-form-item">
            <label class="layui-form-label">所属驾校</label>
            <div class="layui-input-block">
                <select id ="school_id" name="school_id" >
                    <option th:each="sc,scStat:${list}" th:selected="${sc.getId().equals(teacher.getSchool_id())}" th:value="${sc.getId()}" th:text="${sc.getSchool_name()}"></option>

                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">教练名字</label>
            <div class="layui-input-block">
                <input type="text" th:value="${teacher.getTeacher_name()}" name="teacher_name" id="teacher_name" required lay-verify="required"  placeholder="请输入教练名字"  class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">教练从业时间</label>
            <div class="layui-input-block">
                <input type="text" th:value="${teacher.getTeacher_apply()}" name="teacher_apply" id="teacher_apply"  required lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="teacher_sex" value="1" title="男" th:checked="${teacher.getTeacher_sex()=='1'}">
                <input type="radio" name="teacher_sex" value="2" title="女" th:checked="${teacher.getTeacher_sex()=='2'}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">教练推荐排序</label>
            <div class="layui-input-block">
                <input type="number" name="orders" id="orders" th:value="${teacher.getOrders()}" placeholder="教练推荐排序，输入数字" required lay-verify="required"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">教练联系电话</label>
            <div class="layui-input-block">
                <input type="text" name="teacher_phone" th:value="${teacher.getTeacher_phone()}" id="teacher_phone" required  lay-verify="required" placeholder="请输入教练联系电话"  class="layui-input">
            </div>
        </div>


        <div>
            <label class="layui-form-label">教练头像上传：</label>
            <img  th:src="${teacher.getTeacher_img()}" style="height: 130px;width: 130px;">
            <span  onchange="c(this,'teacher_img')" class="btn btn-success fileinput-button">
	            <span>上传</span>
	            <input id="teacher_img" name="teacher_img" type="file">
	        </span>
        </div>


        <br>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">教练简介描述</label>
            <div class="layui-input-block">
                <textarea  th:text="${teacher.getTeacher_describe()}" name="teacher_describe" id="teacher_describe" style="width:100%;height:400px;"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <span class="layui-btn" id="sub">立即提交</span>
            </div>
        </div>
    </form>
</div>
</body>

<script>

    layui.use(['form','laydate', 'laypage', 'layer', 'table', 'carousel', 'element', 'slider'], function() {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , element = layui.element //元素操作
            , slider = layui.slider //滑块
            ,form = layui.form

        //日期
        laydate.render({
            elem: '#teacher_apply'
        });



    });


    $("#sub").click(function(){
        var formData = new FormData();
        var teacher_img=$("#teacher_img").get(0).files[0];
        var teacher_apply=$("#teacher_apply").val();
        var teacher_name=$("#teacher_name").val();
        var teacher_phone=$("#teacher_phone").val();
        var orders=$("#orders").val();
        var school_id=$("#school_id").val();
        var teacher_sex=$("input[name='teacher_sex']:checked").val();
        var teacher_describe=editor.html();
        var message='';
        if (ASSERT(teacher_apply)){
            message='教练入行时间不能为空'
        } else if(ASSERT(teacher_name)){
            message='教练姓名不能为空'
        }else if(ASSERT(teacher_phone)){
            message='教练手机号不能为空'
        }else if(ASSERT(orders)){
            message='教练默认排序不能为空'
        }else if(ASSERT(school_id)){
            message='驾校ID不能为空'
        }else if(ASSERT(teacher_sex)){
            message='教练性别不能为空'
        }else if(ASSERT(teacher_describe)){
            message='教练描述不能为空'
        }

        if(message!=''){
            layer.msg(message);
            return false;
        }

        if(!ASSERT(teacher_img)) {
            formData.append("teacher_img",teacher_img);
        }

        formData.append("teacher_apply",teacher_apply);
        formData.append("teacher_name",teacher_name);
        formData.append("teacher_phone",teacher_phone);
        formData.append("orders",orders);
        formData.append("school_id",school_id);
        formData.append("teacher_sex",teacher_sex);
        formData.append("teacher_describe",teacher_describe);

        $("#sub").hide();
        $.ajax({
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/teacher/save" ,//url
            data:formData,
            processData: false,//用于对data参数进行序列化处理 这里必须false
            contentType: false, //必须
            success: function (result) {
                //console.log(result);//打印服务端返回的数据(调试用)
                if(result.flag =="1"){
                    layer.msg("提交成功");
                    window.setTimeout(cancelToast(),2100);
                }else{
                    layer.msg("提交失败，请稍后再试");
                    $("#sub").show();
                }


            },
            error : function() {

                $("#sub").show();
            }
        });

    })






    function c(event, previewid) {
        var r = new FileReader();
        f = document.getElementById(previewid).files[0];

        r.readAsDataURL(f);
        r.onload = function (e) {
            var imgurl = this.result;
            $(event).siblings("img").prop("src" , imgurl);
        };
    }

    //取消
    function cancelToast(){

        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index);

    }
</script>

<script type="text/javascript">

    $(function(){




        //富文本
        //富文本编译器
        KindEditor.ready(function(K) {
            window.editor = K.create('#teacher_describe',{
                items:[
                    'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                    'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                    'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                    'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                    'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                    'anchor', 'link', 'unlink'
                ],
                uploadJson : '/home/img',
            });
        });



    });

</script>
</body>
</html>