<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<span th:insert="head::common_js_css"></span>

<body class="childrenBody">
<form class="layui-form">
    <input th:value="${ticket.getId()}" type="hidden" id ="orid" class="layui-input"  readonly="readonly">
    <div class="layui-form-item">
        <label class="layui-form-label">配送订单 </label>
        <div class="layui-input-inline">
            <input th:value="${ticket.getOrder_sn()}" type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接收人 </label>
        <div class="layui-input-inline">
            <input th:value="${ticket.getRealname()}" type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">接收人电话 </label>
        <div class="layui-input-inline">
            <input th:value="${ticket.getMobile()}" type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接收人省 </label>
        <div class="layui-input-inline">
            <input th:value="${ticket.getProv()}" type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接收人市 </label>
        <div class="layui-input-inline">
            <input th:value="${ticket.getCity()}" type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接收人区 </label>
        <div class="layui-input-inline">
            <input th:value="${ticket.getDist()}"type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接收人地址 </label>
        <div class="layui-input-inline">
            <input th:value="${ticket.getAddress()}" type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">配送人 </label>
        <div class="layui-input-inline">
            <input th:value="${ticket.getExpress_name()}" type="text" id="express_name" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">配送人电话 </label>
        <div class="layui-input-inline">
            <input th:value="${ticket.getExpress_mobile()}" id="express_mobile" type="text" class="layui-input"  >
        </div>
    </div>
    <div class="layui-form-item">
        <button style="float:right;margin-right:30px;" type="button" id ="save" class="layui-btn layui-btn-normal">保存</button>
    </div>

</form>

</body>


<script >
	layui.use(['form','laydate', 'laypage', 'layer', 'table', 'carousel', 'element', 'slider'], function() {
		var laydate = layui.laydate //日期
				, laypage = layui.laypage //分页
				, layer = layui.layer //弹层
				, table = layui.table //表格
				, element = layui.element //元素操作
				, slider = layui.slider //滑块
				,form = layui.form
				,$ = layui.jquery

        $("#save").click(function(){
            var name =$("#express_name").val();
            var mobile =$("#express_mobile").val();
            var id =$("#orid").val();
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/ocard/updateExpress" ,//url
                data:{
                    express_name :name,
                    express_mobile :mobile,
                    id:id
                },
                success: function (result) {

                    if(result.flag =="1"){
                        layer.msg("修改成功", {icon: 1});
                    }else{
                        layer.msg(result.error, {icon: 5});
                    }
                },
                error : function() {

                    layer.msg("服务器出错了～～", {icon: 5});
                }
            });
        });



	});

</script>

</html>