<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head::common_js_css_bootstrap"></head>
<head th:insert="head::common_uploadFile"></head>

<body>
<div>
    <span onclick="cancelToast()" class="btn btn-info ">返回</span>
</div>
<div class="container-fluid" id="main-container">
    <div id="page-content" class="clearfix">

<form action="/ocard/update" method="post" enctype="multipart/form-data" >
    <div>
        驾校图标：<br>
        <img  src="" style="height: 130px;width: 130px;">
        <span  onchange="c(this,'icon2_url')" class="btn btn-success fileinput-button">
	            <span>上传</span>
	            <input id="icon2_url" name="icon2_url" type="file">
	        </span>
    </div>

<div id="zyupload" class="zyupload"></div>

    <button type="submit">dianji</button>
</form>

</div>
</div>
</body>


<script>

    function c(event, previewid) {
        var r = new FileReader();
        f = document.getElementById(previewid).files[0];

        r.readAsDataURL(f);
        r.onload = function (e) {
            var imgurl = this.result;
            $(event).siblings("img").prop("src" , imgurl);
        };
    }

    //取消
    function cancelToast(){

        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index);

    }
</script>

<script type="text/javascript">
    $(function(){
        // 初始化插件
        $("#zyupload").zyUpload({
            width            :   "850px",                 // 宽度
            height           :   "230px",                 // 宽度
            itemWidth        :   "140px",                 // 文件项的宽度
            itemHeight       :   "115px",                 // 文件项的高度
            url              :   "",  // 上传文件的路径
            fileType         :   ["jpg","png","txt","js","exe"],// 上传文件的类型
            fileSize         :   51200000,                // 上传文件的大小
            multiple         :   true,                    // 是否可以多个文件上传
            dragDrop         :   true,                    // 是否可以拖动上传文件
            tailor           :   true,                    // 是否可以裁剪图片
            del              :   true,                    // 是否可以删除文件
            finishDel        :   false,  				  // 是否在上传文件完成后删除预览
            /* 外部获得的回调接口 */
            onSelect: function(selectFiles, allFiles){    // 选择文件的回调方法  selectFile:当前选中的文件  allFiles:还没上传的全部文件
                console.info("当前选择了以下文件：");
                console.info(selectFiles);
            },
            onDelete: function(file, files){              // 删除一个文件的回调方法 file:当前删除的文件  files:删除之后的文件
                console.info("当前删除了此文件：");
                console.info(file.name);
            },
            onSuccess: function(file, response){          // 文件上传成功的回调方法
                console.info("此文件上传成功：");
                console.info(file.name);
                console.info("此文件上传到服务器地址：");
                console.info(response);
                $("#uploadInf").append("<p>上传成功，文件地址是：" + response + "</p>");
            },
            onFailure: function(file, response){          // 文件上传失败的回调方法
                console.info("此文件上传失败：");
                console.info(file.name);
            },
            onComplete: function(response){           	  // 上传完成的回调方法
                console.info("文件上传完成");
                console.info(response);
            }
        });

    });

</script>
</body>
</html>