<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<span th:insert="head::common_js_css_bootstrap"></span>
<body>

<div>
    icon图标2：<br>
    <img  src="" style="height: 130px;width: 130px;">
    <span  onchange="c(this,'icon2_url')" class="btn btn-success fileinput-button">
	            <span>上传</span>
	            <input id="icon2_url" name="icon2_url" type="file">
	        </span>
</div>

<script>

    function c(event, previewid) {
        var r = new FileReader();
        f = document.getElementById(previewid).files[0];

        r.readAsDataURL(f);
        r.onload = function (e) {
            var imgurl = this.result;
            $(event).siblings("img").prop("src" , imgurl);
        };
    }
</script>
</body>
</html>