<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<span th:insert="head::common_js_css"></span>

<body class="childrenBody">
<form class="layui-form" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">配送订单 </label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接收人 </label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">接收人电话 </label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接收人省 </label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接收人市 </label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接收人区 </label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接收人地址 </label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input"  readonly="readonly">
        </div>
    </div>

</form>

</body>


<script >
	layui.use(['form','laydate', 'laypage', 'layer', 'table', 'carousel', 'element', 'slider'], function() {
		var laydate = layui.laydate //日期
				, laypage = layui.laypage //分页
				, layer = layui.layer //弹层
				, table = layui.table //表格
				, element = layui.element //元素操作
				, slider = layui.slider //滑块
				,form = layui.form
				,$ = layui.jquery




	});

</script>

</html>