<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<span th:insert="head::common_js_css_bootstrap"></span>
<body>
<div>
    <span onclick="cancelToast()" class="btn btn-info ">返回</span>
</div>
<div>
    icon图标2：<br>
    <img  src="" style="height: 130px;width: 130px;">
    <span  onchange="c(this,'icon2_url')" class="btn btn-success fileinput-button">
	            <span>上传</span>
	            <input id="icon2_url" name="icon2_url" type="file">
	        </span>
</div>

<ul>
    <li style="vertical-align: middle">
        <input type="hidden" id="isUploadPic" name="isUploadPic" value="0">
        <input type="button" class="btn-solid" value="上传图片" style="width:120px;" onclick="toPICUpload('${goodsInfo.goods.goods_id}')" />
        <span class="explain">按住ctrl可同时批量选择多张图片上传，建议图片宽度为750px</span>
        <input type="button" class="btn-solid" value="删除所有主图" style="width:120px;float: right;" onclick="deleteAllZPIC()" />
    </li>






<script>

    function c(event, previewid) {
        var r = new FileReader();
        f = document.getElementById(previewid).files[0];

        r.readAsDataURL(f);
        r.onload = function (e) {
            var imgurl = this.result;
            $(event).siblings("img").prop("src" , imgurl);
        };
    }

    //取消
    function cancelToast(){

        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index);

    }
</script>
</body>
</html>