<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.admin.ApplyMapper">


   <select id="getOrderCount" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">
       select count(1)
       from
       sdb_school_teacher a
       , sdb_school b

       where a.school_id =b.id
       and a.flag ='1'
       <if test="school_id !=null  and school_id != '' ">
           and b.id=#{school_id}
       </if>
       <if test="school_name !=null  and school_name != '' ">
           and b.school_name=#{school_name}
       </if>
       <if test="school_code !=null  and school_code != '' ">
           and b.school_code=#{school_code}
       </if>
       <if test="teacher_phone !=null  and teacher_phone != '' ">
           and a.teacher_phone=#{teacher_phone}
       </if>
       <if test="teacher_name !=null  and teacher_name != '' ">
           and a.teacher_name=#{teacher_name}
       </if>
   </select>

    <select id="getOrderList" parameterType="com.project.utils.PageData" resultType="java.util.Map">

      select a.id,a.school_id,b.school_name, a.teacher_name,a.teacher_phone,a.teacher_sex,a.teacher_img,
      a.orders,
      date_format(a.create_time, '%Y-%m-%d %H:%i:%s') as create_time from
        sdb_school_teacher a
        ,  sdb_school b
      where a.school_id =b.id
        and a.flag ='1'
        <if test="school_id !=null  and school_id != '' ">
            and b.id=#{school_id}
        </if>
        <if test="school_name !=null  and school_name != '' ">
            and b.school_name=#{school_name}
        </if>
        <if test="school_code !=null  and school_code != '' ">
            and b.school_code=#{school_code}
        </if>
        <if test="teacher_phone !=null  and teacher_phone != '' ">
            and a.teacher_phone=#{teacher_phone}
        </if>
        <if test="teacher_name !=null  and teacher_name != '' ">
            and a.teacher_name=#{teacher_name}
        </if>
        order by a.orders
    limit #{startIndex},#{pageSize}

   </select>

    <select id="getDeatilApply" resultType="com.project.model.school.Apply" parameterType="com.project.model.school.Apply">
        select a.*
         from
        sdb_student_apply a
        where 1=1

        <if test="id !=null  and id != '' ">
            and a.id=#{id}
        </if>
        limit 1
    </select>

    <insert id="saveApply" parameterType="com.project.model.school.Apply">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into sdb_student_apply
        <trim prefix="(" suffix=")"  suffixOverrides=",">

            <if test="member_id != null  and member_id != '' ">
                member_id,
            </if>
            <if test="idcard != null  and idcard != '' ">
                idcard,
            </if>
            <if test="school_id != null  and school_id != '' ">
                school_id,
            </if>
            <if test="subject_id != null  and subject_id != '' ">
                subject_id,
            </if>
            <if test="name != null  and name != '' ">
                name,
            </if>
            <if test="cardtype != null  and cardtype != '' ">
                cardtype,
            </if>
            <if test="sex != null  and sex != '' ">
                sex,
            </if>
            <if test="birdate != null  and birdate != '' ">
                birdate,
            </if>
            <if test="phone != null  and phone != '' ">
                phone,
            </if>
            <if test="addr != null  and addr != '' ">
                addr,
            </if>
            <if test="traintype != null  and traintype != '' ">
                traintype,
            </if>
            <if test="orgcode != null  and orgcode != '' ">
                orgcode,
            </if>
            <if test="applydate != null  and applydate != '' ">
                applydate,
            </if>
            <if test="perdritype != null  and perdritype != '' ">
                perdritype,
            </if>
            <if test="drilicnum != null  and drilicnum != '' ">
                drilicnum,
            </if>
            <if test="licencedate != null  and licencedate != '' ">
                licencedate,
            </if>
            <if test="photo != null  and photo != '' ">
                photo,
            </if>


        </trim>

        <trim prefix="values(" suffix=")"  suffixOverrides=",">

            <if test="member_id != null  and member_id != '' ">
                #{member_id},
            </if>
            <if test="idcard != null  and idcard != '' ">
                #{idcard},
            </if>
            <if test="school_id != null  and school_id != '' ">
                #{school_id},
            </if>
            <if test="subject_id != null  and subject_id != '' ">
                #{subject_id},
            </if>
            <if test="name != null  and name != '' ">
                #{name},
            </if>
            <if test="cardtype != null  and cardtype != '' ">
                #{cardtype},
            </if>
            <if test="sex != null  and sex != '' ">
                #{sex},
            </if>
            <if test="birdate != null  and birdate != '' ">
                #{birdate},
            </if>
            <if test="phone != null  and phone != '' ">
                #{phone},
            </if>
            <if test="addr != null  and addr != '' ">
                #{addr},
            </if>
            <if test="traintype != null  and traintype != '' ">
                #{traintype},
            </if>
            <if test="orgcode != null  and orgcode != '' ">
                #{orgcode},
            </if>
            <if test="applydate != null  and applydate != '' ">
                #{applydate},
            </if>
            <if test="perdritype != null  and perdritype != '' ">
                #{perdritype},
            </if>
            <if test="drilicnum != null  and drilicnum != '' ">
                #{drilicnum},
            </if>
            <if test="licencedate != null  and licencedate != '' ">
                #{licencedate},
            </if>
            <if test="photo != null  and photo != '' ">
                #{photo},
            </if>

        </trim>
    </insert>



    <update id="updateApply" parameterType="com.project.model.school.Apply">
      update sdb_apply_order
        <trim prefix="SET"  suffixOverrides=",">

            <if test="status != null  and status != '' ">
                status=  #{status},
            </if>
            <if test="time != null  and time != '' ">
                time= #{time},
            </if>
            <if test="pay_time != null  and pay_time != '' ">
                pay_time= #{pay_time},
            </if>
            <if test="refund_time != null  and refund_time != '' ">
                refund_time= #{refund_time},
            </if>
            <if test="pay_method != null  and pay_method != '' ">
                pay_method= #{pay_method},
            </if>
            <if test="apply_id != null  and apply_id != '' ">
                apply_id= #{apply_id},
            </if>
            <if test="school_id != null  and school_id != '' ">
                school_id= #{school_id},
            </if>
            <if test="subject_id != null  and subject_id != '' ">
                subject_id= #{subject_id},
            </if>

        </trim>

      where 1=1
        <if test="id != null  and id != '' ">
            and id= #{id}
        </if>
        <if test="order_sn != null  and order_sn != '' ">
            and order_sn= #{order_sn}
        </if>
    </update>


</mapper>