<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.admin.ArticleMapper">


   <select id="getArticleCount" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">
       select count(1)
       from
       sdb_school_article a
       where 1=1
        and flag ='1'

   </select>

    <select id="getArticleList" parameterType="com.project.utils.PageData" resultType="java.util.Map">

      select a.id,a.title,a.thumb,a.like,a.view,a.feedback,
      date_format(a.create_time,'%Y-%m-%d %H:%i:%s') as create_time,
      publish_time
      from sdb_school_article a
      where 1=1
      and flag ='1'
      order by a.create_time desc
      limit #{startIndex},#{pageSize}

   </select>

    <select id="getArticleDetail" resultType="com.project.model.school.Article" parameterType="com.project.model.school.Article">
        select a.*
         from
        sdb_school_article a
        where 1=1
        and a.flag ='1'
        <if test="id !=null  and id != '' ">
            and a.id=#{id}
        </if>
        limit 1
    </select>

    <insert id="saveArticle" parameterType="com.project.utils.PageData">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into sdb_school_article
        <trim prefix="(" suffix=")"  suffixOverrides=",">

            <if test="title != null  and title != '' ">
                title,
            </if>
            <if test="flag != null  and flag != '' ">
                flag,
            </if>
            <if test="thumb != null  and thumb != '' ">
                thumb,
            </if>
            <if test="content != null  and content != '' ">
                content,
            </if>
            <if test="author != null  and author != '' ">
                author,
            </if>
            <if test="publish_time != null  and publish_time != '' ">
                publish_time,
            </if>



        </trim>

        <trim prefix="values(" suffix=")"  suffixOverrides=",">

            <if test="title != null  and title != '' ">
                #{title},
            </if>
            <if test="flag != null  and flag != '' ">
                #{flag},
            </if>
            <if test="thumb != null  and thumb != '' ">
                #{thumb},
            </if>
            <if test="content != null  and content != '' ">
                #{content},
            </if>
            <if test="author != null  and author != '' ">
                #{author},
            </if>
            <if test="publish_time != null  and publish_time != '' ">
                #{publish_time},
            </if>

        </trim>
    </insert>



    <update id="updateArticle" parameterType="com.project.utils.PageData">
      update sdb_banner_image
        <trim prefix="SET"  suffixOverrides=",">

            <if test="title != null  and title != '' ">
                title=#{title},
            </if>
            <if test="flag != null  and flag != '' ">
                flag=#{flag},
            </if>
            <if test="content != null  and content != '' ">
                content=#{content},
            </if>
            <if test="thumb != null  and thumb != '' ">
                thumb=#{thumb},
            </if>
            <if test="publish_time != null  and publish_time != '' ">
                publish_time=#{publish_time},
            </if>
            <if test="author != null  and author != '' ">
                author=#{author},
            </if>
        </trim>

      where 1=1
        <if test="id != null  and id != '' ">
            and id= #{id}
        </if>
    </update>




</mapper>