<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.admin.BannerMapper">


   <select id="getBannerCount" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">
       select count(1)
       from
       sdb_banner_image a
       where 1=1
        and flag ='1'

   </select>

    <select id="getBannerList" parameterType="com.project.utils.PageData" resultType="java.util.Map">

      select * from sdb_banner_image a
      where 1=1
      and flag ='1'
      limit #{startIndex},#{pageSize}

   </select>

    <select id="getBannerDetail" resultType="com.project.model.school.Banner" parameterType="com.project.model.school.Banner">
        select a.*
         from
        sdb_banner_image a
        where 1=1
        and a.flag ='1'
        <if test="id !=null  and id != '' ">
            and a.id=#{id}
        </if>
        limit 1
    </select>

    <insert id="saveBanner" parameterType="com.project.utils.PageData">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into sdb_banner_image
        <trim prefix="(" suffix=")"  suffixOverrides=",">

            <if test="banner != null  and banner != '' ">
                banner,
            </if>
            <if test="flag != null  and flag != '' ">
                flag,
            </if>
            <if test="orders != null  and orders != '' ">
                orders,
            </if>
            <if test="type != null  and type != '' ">
                type,
            </if>



        </trim>

        <trim prefix="values(" suffix=")"  suffixOverrides=",">

            <if test="banner != null  and banner != '' ">
                #{banner},
            </if>
            <if test="flag != null  and flag != '' ">
                #{flag},
            </if>
            <if test="orders != null  and orders != '' ">
                #{orders},
            </if>
            <if test="type != null  and type != '' ">
                #{type},
            </if>

        </trim>
    </insert>



    <update id="updateBanner" parameterType="com.project.utils.PageData">
      update sdb_banner_image
        <trim prefix="SET"  suffixOverrides=",">

            <if test="banner != null  and banner != '' ">
                banner=#{banner},
            </if>
            <if test="flag != null  and flag != '' ">
                flag=#{flag},
            </if>
            <if test="orders != null  and orders != '' ">
                orders=#{orders},
            </if>
            <if test="type != null  and type != '' ">
                type=#{type},
            </if>
        </trim>

      where 1=1
        <if test="id != null  and id != '' ">
            and id= #{id}
        </if>
    </update>


    <select id="getAllBanner" parameterType="com.project.model.school.Banner" resultType="com.project.model.school.Banner">
    select id,banner,flag,orders,create_time
    from
    sdb_banner_image
    where flag ='1'
        <if test="type != null  and type != '' ">
            and type= #{type}
        </if>
    order by orders
    </select>

</mapper>