<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.admin.DriverHomeMapper">


   <select id="getHomeCount" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">
    select count(1)
    from
       sdb_school
       where 1=1
       and flag ='1'
       <if test="school_name !=null  and school_name != '' ">
           and school_name=#{school_name}
       </if>
       <if test="school_code !=null  and school_code != '' ">
           and school_code=#{school_code}
       </if>
   </select>

    <select id="getHomeList" parameterType="com.project.utils.PageData" resultType="java.util.Map">
    select a.id,a.school_name,a.school_location,a.school_phone,a.school_code,a.orders,
        date_format(a.create_time, '%Y-%m-%d %H:%i:%s') as create_time,
        a.school_location_x,a.school_location_y,a.mark,

        ROUND((select sum(star) from sdb_school_feedback f WHERE f.school_id=a.id)
        /(select count(1) from sdb_school_feedback f1 WHERE f1.school_id=a.id),1)
        as star,

        (select count(1) from sdb_school_album al where al.school_id=a.id and al.flag='1')
        as album_count
        from
        sdb_school a
    where 1=1
        and flag ='1'
        <if test="school_name !=null  and school_name != '' ">
            and a.school_name=#{school_name}
        </if>
        <if test="school_code !=null  and school_code != '' ">
            and a.school_code=#{school_code}
        </if>
        <if test="school_phone !=null  and school_phone != '' ">
            and a.school_phone=#{school_phone}
        </if>
        order by a.orders
    limit #{startIndex},#{pageSize}

   </select>

    <select id="getSchoolDetail" resultType="com.project.model.school.SchoolModel" parameterType="com.project.model.school.SchoolModel">
        select a.*,

        ROUND((select sum(star) from sdb_school_feedback f WHERE f.school_id=a.id)
        /(select count(1) from sdb_school_feedback f1 WHERE f1.school_id=a.id),1)
        as star,

        (select count(1) from sdb_school_feedback f1 WHERE f1.school_id=a.id)
        as feedback_count
         from
        sdb_school a
        where 1=1
        and flag ='1'
        <if test="id !=null  and id != '' ">
            and a.id=#{id}
        </if>
        <if test="school_name !=null  and school_name != '' ">
            and a.school_name=#{school_name}
        </if>
        <if test="school_code !=null  and school_code != '' ">
            and a.school_code=#{school_code}
        </if>
        limit 1
    </select>

    <insert id="save" parameterType="com.project.utils.PageData">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into sdb_school
        <trim prefix="(" suffix=")"  suffixOverrides=",">

            <if test="school_name != null  and school_name != '' ">
                school_name,
            </if>
            <if test="school_icon != null  and school_icon != '' ">
                school_icon,
            </if>
            <if test="school_face != null  and school_face != '' ">
                school_face,
            </if>
            <if test="school_phone != null  and school_phone != '' ">
                school_phone,
            </if>
            <if test="school_describe != null  and school_describe != '' ">
                school_describe,
            </if>
            <if test="school_code != null  and school_code != '' ">
                school_code,
            </if>
            <if test="school_wxsmall_url != null  and school_wxsmall_url != '' ">
                school_wxsmall_url,
            </if>
            <if test="school_location != null  and school_location != '' ">
                school_location,
            </if>
            <if test="school_location_x != null  and school_location_x != '' ">
                school_location_x,
            </if>
            <if test="school_location_y != null  and school_location_y != '' ">
                school_location_y,
            </if>
            <if test="orders != null  and orders != '' ">
                orders,
            </if>
            <if test="mark != null  and mark != '' ">
                mark,
            </if>
            <if test="flag != null  and flag != '' ">
                flag,
            </if>

        </trim>

        <trim prefix="values(" suffix=")"  suffixOverrides=",">

            <if test="school_name != null  and school_name != '' ">
                #{school_name},
            </if>
            <if test="school_icon != null  and school_icon != '' ">
                #{school_icon},
            </if>
            <if test="school_face != null  and school_face != '' ">
                #{school_face},
            </if>
            <if test="school_phone != null  and school_phone != '' ">
                #{school_phone},
            </if>
            <if test="school_describe != null  and school_describe != '' ">
                #{school_describe},
            </if>
            <if test="school_code != null  and school_code != '' ">
                #{school_code},
            </if>
            <if test="school_wxsmall_url != null  and school_wxsmall_url != '' ">
                #{school_wxsmall_url},
            </if>
            <if test="school_location != null  and school_location != '' ">
                #{school_location},
            </if>
            <if test="school_location_x != null  and school_location_x != '' ">
                #{school_location_x},
            </if>
            <if test="school_location_y != null  and school_location_y != '' ">
                #{school_location_y},
            </if>
            <if test="orders != null  and orders != '' ">
                #{orders},
            </if>
            <if test="mark != null  and mark != '' ">
                #{mark},
            </if>
            <if test="flag != null  and flag != '' ">
                #{flag},
            </if>
        </trim>
    </insert>

    <insert id="saveSchoolAlbum" parameterType="com.project.model.school.Album">
        insert into sdb_school_album
        <trim prefix="(" suffix=")"  suffixOverrides=",">

        <if test="school_id != null  and school_id != '' ">
            school_id,
        </if>
            <if test="img_url != null  and img_url != '' ">
                img_url,
            </if>
        <if test="orders != null  and orders != '' ">
            orders,
        </if>
        </trim>
        <trim prefix="values(" suffix=")"  suffixOverrides=",">

            <if test="school_id != null  and school_id != '' ">
                #{school_id},
            </if>
            <if test="img_url != null  and img_url != '' ">
                #{img_url},
            </if>
            <if test="orders != null  and orders != '' ">
                #{orders},
            </if>
        </trim>


    </insert>

    <update id="updateShool" parameterType="com.project.utils.PageData">
      update sdb_school
        <trim prefix="SET"  suffixOverrides=",">

            <if test="school_code != null  and school_code != '' ">
                school_code=  #{school_code},
            </if>
            <if test="school_name != null  and school_name != '' ">
                school_name= #{school_name},
            </if>
            <if test="school_icon != null  and school_icon != '' ">
                school_icon= #{school_icon},
            </if>
            <if test="school_face != null  and school_face != '' ">
                school_face= #{school_face},
            </if>
            <if test="school_location != null  and school_location != '' ">
                school_location= #{school_location},
            </if>
            <if test="school_location_x != null  and school_location_x != '' ">
                school_location_x= #{school_location_x},
            </if>
            <if test="school_location_y != null  and school_location_y != '' ">
                school_location_y= #{school_location_y},
            </if>
            <if test="school_phone != null  and school_phone != '' ">
                school_phone= #{school_phone},
            </if>
            <if test="school_describe != null  and school_describe != '' ">
                school_describe= #{school_describe},
            </if>
            <if test="orders != null  and orders != '' ">
                orders= #{orders},
            </if>
            <if test="flag != null  and flag != '' ">
                flag= #{flag},
            </if>
            <if test="mark != null  and mark != '' ">
                mark= #{mark},
            </if>
        </trim>

      where 1=1
        <if test="id != null  and id != '' ">
            and id= #{id}
        </if>
    </update>


    <select id="getSchoolAlbum" parameterType="com.project.model.school.Album" resultType="com.project.model.school.Album">
      select * from
      sdb_school_album
      where 1=1
      and flag ='1'
        <if test="school_id != null  and school_id != '' ">
            and school_id= #{school_id}
        </if>
        <if test="id != null  and id != '' ">
            and id= #{id}
        </if>

    </select>

    <select id="getAllSchoolList" parameterType="com.project.utils.PageData" resultType="com.project.model.school.SchoolModel">

        select id ,school_name
        from
        sdb_school
        where
         flag='1'
    </select>
</mapper>