<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.admin.DriverHomeMapper">


   <select id="getHomeCount" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">
    select count(1)
    from
       sdb_school
       where 1=1
       and flag ='1'
       <if test="school_name !=null  and school_name != '' ">
           and school_name=#{school_name}
       </if>
       <if test="school_code !=null  and school_code != '' ">
           and school_code=#{school_code}
       </if>
   </select>

    <select id="getHomeList" parameterType="com.project.utils.PageData" resultType="java.util.Map">
    select a.id,a.school_name,a.school_location,a.school_phone,a.school_code,a.orders,a.school_icon,
        date_format(a.create_time, '%Y-%m-%d %H:%i:%s') as create_time,
        a.school_location_x,a.school_location_y,a.mark,

<!--
        ROUND((select sum(star) from sdb_school_feedback f WHERE f.school_id=a.id)
        /(select count(1) from sdb_school_feedback f1 WHERE f1.school_id=a.id),1)
        as star,
-->
        '5' as star,
        (select count(1) from sdb_school_album al where al.school_id=a.id and al.flag='1')
        as album_count
        from
        sdb_school a
    where 1=1
        and flag ='1'
        <if test="school_name !=null  and school_name != '' ">
            and a.school_name=#{school_name}
        </if>
        <if test="school_code !=null  and school_code != '' ">
            and a.school_code=#{school_code}
        </if>
        <if test="school_phone !=null  and school_phone != '' ">
            and a.school_phone=#{school_phone}
        </if>
        order by a.orders
    limit #{startIndex},#{pageSize}

   </select>

    <select id="getSchoolDetail" resultType="com.project.model.school.SchoolModel" parameterType="com.project.model.school.SchoolModel">
        select a.*,
<!--
        ROUND((select sum(star) from sdb_school_feedback f WHERE f.school_id=a.id)
        /(select count(1) from sdb_school_feedback f1 WHERE f1.school_id=a.id),1)
        as star,
-->
        '5' as star,
        (select count(1) from sdb_school_feedback f1 WHERE f1.school_id=a.id)
        as feedback_count
         from
        sdb_school a
        where 1=1
        and flag ='1'
        <if test="id !=null  and id != '' ">
            and a.id=#{id}
        </if>
        <if test="school_name !=null  and school_name != '' ">
            and a.school_name=#{school_name}
        </if>
        <if test="school_code !=null  and school_code != '' ">
            and a.school_code=#{school_code}
        </if>
        limit 1
    </select>


    <select id="getSimpleSchool" resultType="com.project.model.school.SchoolModel" parameterType="com.project.model.school.SchoolModel">
        select a.school_code,a.school_name,a.id
        from
        sdb_school a
        where 1=1
        and flag ='1'
        <if test="id !=null  and id != '' ">
            and a.id=#{id}
        </if>
        <if test="school_name !=null  and school_name != '' ">
            and a.school_name=#{school_name}
        </if>
        <if test="school_code !=null  and school_code != '' ">
            and a.school_code=#{school_code}
        </if>
        limit 1
    </select>

    <insert id="save" parameterType="com.project.utils.PageData">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into sdb_school
        <trim prefix="(" suffix=")"  suffixOverrides=",">

            <if test="school_name != null  and school_name != '' ">
                school_name,
            </if>
            <if test="school_icon != null  and school_icon != '' ">
                school_icon,
            </if>
            <if test="school_face != null  and school_face != '' ">
                school_face,
            </if>
            <if test="school_phone != null  and school_phone != '' ">
                school_phone,
            </if>
            <if test="school_describe != null  and school_describe != '' ">
                school_describe,
            </if>
            <if test="school_code != null  and school_code != '' ">
                school_code,
            </if>
            <if test="school_wxsmall_url != null  and school_wxsmall_url != '' ">
                school_wxsmall_url,
            </if>
            <if test="school_location != null  and school_location != '' ">
                school_location,
            </if>
            <if test="school_location_x != null  and school_location_x != '' ">
                school_location_x,
            </if>
            <if test="school_location_y != null  and school_location_y != '' ">
                school_location_y,
            </if>
            <if test="orders != null  and orders != '' ">
                orders,
            </if>
            <if test="mark != null  and mark != '' ">
                mark,
            </if>
            <if test="flag != null  and flag != '' ">
                flag,
            </if>

        </trim>

        <trim prefix="values(" suffix=")"  suffixOverrides=",">

            <if test="school_name != null  and school_name != '' ">
                #{school_name},
            </if>
            <if test="school_icon != null  and school_icon != '' ">
                #{school_icon},
            </if>
            <if test="school_face != null  and school_face != '' ">
                #{school_face},
            </if>
            <if test="school_phone != null  and school_phone != '' ">
                #{school_phone},
            </if>
            <if test="school_describe != null  and school_describe != '' ">
                #{school_describe},
            </if>
            <if test="school_code != null  and school_code != '' ">
                #{school_code},
            </if>
            <if test="school_wxsmall_url != null  and school_wxsmall_url != '' ">
                #{school_wxsmall_url},
            </if>
            <if test="school_location != null  and school_location != '' ">
                #{school_location},
            </if>
            <if test="school_location_x != null  and school_location_x != '' ">
                #{school_location_x},
            </if>
            <if test="school_location_y != null  and school_location_y != '' ">
                #{school_location_y},
            </if>
            <if test="orders != null  and orders != '' ">
                #{orders},
            </if>
            <if test="mark != null  and mark != '' ">
                #{mark},
            </if>
            <if test="flag != null  and flag != '' ">
                #{flag},
            </if>
        </trim>
    </insert>

    <insert id="saveSchoolAlbum" parameterType="com.project.model.school.Album">
        insert into sdb_school_album
        <trim prefix="(" suffix=")"  suffixOverrides=",">

        <if test="school_id != null  and school_id != '' ">
            school_id,
        </if>
            <if test="img_url != null  and img_url != '' ">
                img_url,
            </if>
        <if test="orders != null  and orders != '' ">
            orders,
        </if>
        </trim>
        <trim prefix="values(" suffix=")"  suffixOverrides=",">

            <if test="school_id != null  and school_id != '' ">
                #{school_id},
            </if>
            <if test="img_url != null  and img_url != '' ">
                #{img_url},
            </if>
            <if test="orders != null  and orders != '' ">
                #{orders},
            </if>
        </trim>


    </insert>

    <update id="updateShool" parameterType="com.project.utils.PageData">
      update sdb_school
        <trim prefix="SET"  suffixOverrides=",">

            <if test="school_code != null  and school_code != '' ">
                school_code=  #{school_code},
            </if>
            <if test="school_name != null  and school_name != '' ">
                school_name= #{school_name},
            </if>
            <if test="school_icon != null  and school_icon != '' ">
                school_icon= #{school_icon},
            </if>
            <if test="school_face != null  and school_face != '' ">
                school_face= #{school_face},
            </if>
            <if test="school_location != null  and school_location != '' ">
                school_location= #{school_location},
            </if>
            <if test="school_location_x != null  and school_location_x != '' ">
                school_location_x= #{school_location_x},
            </if>
            <if test="school_location_y != null  and school_location_y != '' ">
                school_location_y= #{school_location_y},
            </if>
            <if test="school_phone != null  and school_phone != '' ">
                school_phone= #{school_phone},
            </if>
            <if test="school_describe != null  and school_describe != '' ">
                school_describe= #{school_describe},
            </if>
            <if test="orders != null  and orders != '' ">
                orders= #{orders},
            </if>
            <if test="flag != null  and flag != '' ">
                flag= #{flag},
            </if>
            <if test="mark != null  and mark != '' ">
                mark= #{mark},
            </if>
        </trim>

      where 1=1
        <if test="id != null  and id != '' ">
            and id= #{id}
        </if>
    </update>


    <select id="getSchoolAlbum" parameterType="com.project.model.school.Album" resultType="com.project.model.school.Album">
      select * from
      sdb_school_album
      where 1=1
      and flag ='1'
        <if test="school_id != null  and school_id != '' ">
            and school_id= #{school_id}
        </if>
        <if test="id != null  and id != '' ">
            and id= #{id}
        </if>

    </select>

    <select id="getAllSchoolList" parameterType="com.project.utils.PageData" resultType="com.project.model.school.SchoolModel">

        select id ,school_name,school_code
        from
        sdb_school
        where
         flag='1'
    </select>




    <!--驾校评价-->
    <insert id="saveSchoolFeedBack" parameterType="com.project.model.school.FeedBackSchool">
        insert into sdb_school_feedback
        <trim prefix="(" suffix=")"  suffixOverrides=",">

            <if test="from_member_id != null  and from_member_id != '' ">
                from_member_id,
            </if>
            <if test="flag != null  and flag != '' ">
                flag,
            </if>
            <if test="to_member_id != null  and to_member_id != '' ">
                to_member_id,
            </if>
            <if test="school_id != null  and school_id != '' ">
                school_id,
            </if>
            <if test="feedback != null  and feedback != '' ">
                feedback,
            </if>
            <if test="type != null  and type != '' ">
                type,
            </if>
            <if test="to_id != null  and to_id != '' ">
               to_id,
            </if>
            <if test="star != null  and star != '' ">
                star,
            </if>
            <if test="level != null  and level != '' ">
                level,
            </if>

        </trim>

        <trim prefix="values(" suffix=")"  suffixOverrides=",">

            <if test="from_member_id != null  and from_member_id != '' ">
                #{from_member_id},
            </if>
            <if test="flag != null  and flag != '' ">
                #{flag},
            </if>
            <if test="to_member_id != null  and to_member_id != '' ">
                #{to_member_id},
            </if>
            <if test="school_id != null  and school_id != '' ">
                #{school_id},
            </if>
            <if test="feedback != null  and feedback != '' ">
                #{feedback},
            </if>
            <if test="type != null  and type != '' ">
                #{type},
            </if>
            <if test="to_id != null  and to_id != '' ">
                #{to_id},
            </if>
            <if test="star != null  and star != '' ">
                #{star},
            </if>
            <if test="level != null  and level != '' ">
                #{level},
            </if>


        </trim>

    </insert>


    <select id="getSchoolFeedBackCount" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">

    select count(1)
    from sdb_school_feedback a
    where 1=1
        <if test="school_id != null  and school_id != '' ">
            and  a.school_id =#{school_id}
        </if>
        <choose>
            <when test="to_id != null  and to_id != '' ">
                and a.type ='2'
                and  a.to_id =#{to_id}
            </when>
            <otherwise>
                and a.type ='0'
            </otherwise>
        </choose>




    </select>


    <select id="getSchoolFeedBackList" parameterType="com.project.utils.PageData" resultType="com.project.utils.PageData">


        select a.feedback ,a.id,a.to_id,a.from_member_id,a.star,a.level,
        date_format(a.create_time, '%Y-%m-%d %H:%i:%s') as create_time,
        u.nickname as fromUser,u.headimgurl as fromImgUrl, (select count(1) from sdb_school_feedback b WHERE b.to_id =a.id )as counts
        from sdb_school_feedback a
        left join  sdb_user u on u.member_id =a.from_member_id
        where 1=1
        <if test="school_id != null  and school_id != '' ">
            and  a.school_id =#{school_id}
        </if>
        and a.type ='0'
        <if test="level != null  and level != '' ">
            and  a.level =#{level}
        </if>

        order by a.id desc
        limit #{startIndex},#{pageSize}
    </select>


    <select id="getSchoolSubFeedBackList" parameterType="com.project.utils.PageData" resultType="com.project.utils.PageData">


       select a.id, a.feedback,a.to_id,a.from_member_id,a.to_member_id,
       u.nickname as fromUser,u.headimgurl as fromImgUrl,
        u2.nickname as toUser,u2.headimgurl as toImgUrl,
        date_format(a.create_time, '%Y-%m-%d %H:%i:%s') as create_time
        from sdb_school_feedback a
        left join  sdb_user u on u.member_id =a.from_member_id
        left join  sdb_user u2 on u2.member_id =a.to_member_id
       where 1=1
        <if test="school_id != null  and school_id != '' ">
            and  a.school_id =#{school_id}
        </if>
        and a.type ='2'
        <if test="to_id != null  and to_id != '' ">
            and  a.to_id =#{to_id}
        </if>


        limit #{startIndex},#{pageSize}
    </select>







<!--教练评价-->


    <insert id="saveTeacherFeedBack" parameterType="com.project.model.school.FeedBackTeacher">
        insert into sdb_school_teacher_feedback
        <trim prefix="(" suffix=")"  suffixOverrides=",">

            <if test="from_member_id != null  and from_member_id != '' ">
                from_member_id,
            </if>
            <if test="flag != null  and flag != '' ">
                flag,
            </if>
            <if test="to_member_id != null  and to_member_id != '' ">
                to_member_id,
            </if>
            <if test="teacher_id != null  and teacher_id != '' ">
                teacher_id,
            </if>
            <if test="feedback != null  and feedback != '' ">
                feedback,
            </if>
            <if test="type != null  and type != '' ">
                type,
            </if>
            <if test="to_id != null  and to_id != '' ">
                to_id,
            </if>
            <if test="star != null  and star != '' ">
                star,
            </if>
            <if test="level != null  and level != '' ">
                level,
            </if>

        </trim>

        <trim prefix="values(" suffix=")"  suffixOverrides=",">

            <if test="from_member_id != null  and from_member_id != '' ">
                #{from_member_id},
            </if>
            <if test="flag != null  and flag != '' ">
                #{flag},
            </if>
            <if test="to_member_id != null  and to_member_id != '' ">
                #{to_member_id},
            </if>
            <if test="teacher_id != null  and teacher_id != '' ">
                #{teacher_id},
            </if>
            <if test="feedback != null  and feedback != '' ">
                #{feedback},
            </if>
            <if test="type != null  and type != '' ">
                #{type},
            </if>
            <if test="to_id != null  and to_id != '' ">
                #{to_id},
            </if>
            <if test="star != null  and star != '' ">
                #{star},
            </if>
            <if test="level != null  and level != '' ">
                #{level},
            </if>


        </trim>

    </insert>


    <select id="getTeacherFeedBackCount" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">

        select count(1)
        from sdb_school_teacher_feedback a
        where 1=1
        <choose>
            <when test="to_id != null  and to_id != '' ">
                and a.type ='2'
                and  a.to_id =#{to_id}
            </when>
            <otherwise>
                and a.type ='0'
            </otherwise>
        </choose>


        <if test="teacher_id != null  and teacher_id != '' ">
            and  a.teacher_id =#{teacher_id}
        </if>

    </select>


    <select id="getTeacherFeedBackList" parameterType="com.project.utils.PageData" resultType="com.project.utils.PageData">


        select a.feedback ,a.id,a.to_id,a.from_member_id,a.star,a.level,
        date_format(a.create_time, '%Y-%m-%d %H:%i:%s') as create_time,
        u.nickname as fromUser,u.headimgurl as fromImgUrl, (select count(1) from sdb_school_teacher_feedback b WHERE b.to_id =a.id )as counts
        from sdb_school_teacher_feedback a
        left join  sdb_user u on u.member_id =a.from_member_id
        where 1=1
        and a.type ='0'
        <if test="teacher_id != null  and teacher_id != '' ">
            and  a.teacher_id =#{teacher_id}
        </if>
        <if test="level != null  and level != '' ">
            and  a.level =#{level}
        </if>

        order by a.id desc
        limit #{startIndex},#{pageSize}
    </select>


    <select id="getTeacherSubFeedBackList" parameterType="com.project.utils.PageData" resultType="com.project.utils.PageData">


        select a.id, a.feedback,a.to_id,a.from_member_id,a.to_member_id,
        u.nickname as fromUser,u.headimgurl as fromImgUrl,
        u2.nickname as toUser,u2.headimgurl as toImgUrl,
        date_format(a.create_time, '%Y-%m-%d %H:%i:%s') as create_time
        from sdb_school_teacher_feedback a
        left join  sdb_user u on u.member_id =a.from_member_id
        left join  sdb_user u2 on u2.member_id =a.to_member_id
        where 1=1
        and a.type ='2'
        <if test="teacher_id != null  and teacher_id != '' ">
            and  a.teacher_id =#{teacher_id}
        </if>
        <if test="to_id != null  and to_id != '' ">
            and  a.to_id =#{to_id}
        </if>


        limit #{startIndex},#{pageSize}
    </select>

</mapper>