<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.admin.DriverHomeMapper">


   <select id="getHomeCount" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">
    select count(1)
    from
       sdb_school
       where 1=1
       and flag ='1'
       <if test="school_name !=null  and school_name != '' ">
           and school_name=#{school_name}
       </if>
       <if test="school_code !=null  and school_code != '' ">
           and school_code=#{school_code}
       </if>
   </select>

    <select id="getHomeList" parameterType="com.project.utils.PageData" resultType="java.util.Map">
    select a.id,a.school_name,a.school_location,a.school_phone,a.school_code,a.create_time,
    (select count(1) from sdb_school_album al where al.school_id=a.id and al.flag='1') as album_count
        from
        sdb_school a
    where 1=1
        and flag ='1'
        <if test="school_name !=null  and school_name != '' ">
            and a.school_name=#{school_name}
        </if>
        <if test="school_code !=null  and school_code != '' ">
            and a.school_code=#{school_code}
        </if>
        <if test="school_phone !=null  and school_phone != '' ">
            and a.school_phone=#{school_phone}
        </if>
    limit #{startIndex},#{pageSize}

   </select>

    <select id="getSchoolDetail" resultType="com.project.model.school.SchoolModel" parameterType="com.project.utils.PageData">
        select * from
        sdb_school
        where 1=1
        and flag ='1'
        <if test="id !=null  and id != '' ">
            and id=#{id}
        </if>
        <if test="school_name !=null  and school_name != '' ">
            and school_name=#{school_name}
        </if>
        <if test="school_name !=null  and school_name != '' ">
            and school_code=#{school_code}
        </if>
        limit 1
    </select>
</mapper>