<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.admin.SubjectOrderMapper">


   <select id="getOrderCount" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">
       select
       count(1)
       from sdb_apply_order o
       left join sdb_student_apply s on o.apply_id=s.id
       left join sdb_school ol on o.school_id=ol.id
       where 1=1
       <if test="phone !=null  and phone != '' ">
           and s.phone=#{phone}
       </if>
       <if test="school_id !=null  and school_id != '' ">
           and o.school_id=#{school_id}
       </if>
       <if test="idcard !=null  and idcard != '' ">
           and s.idcard=#{idcard}
       </if>
       <if test="name !=null  and name != '' ">
           and s.name=#{name}
       </if>
       <if test="status !=null  and status != '' ">
           and o.status=#{status}
       </if>
       <if test="order_sn !=null  and order_sn != '' ">
           and o.order_sn=#{order_sn}
       </if>
       <if test="traintype !=null  and traintype != '' ">
           and s.traintype=#{traintype}
       </if>

   </select>

    <select id="getOrderList" parameterType="com.project.utils.PageData" resultType="java.util.Map">

   select o.member_id,

        case o.`status` when 0 then '未付款'
        when 1 then '已付款'
        WHEN 6 then '已退款' END as status,

    o.order_sn,o.price,s.`name`,s.phone,s.idcard,

    ol.school_name,s.traintype

    from sdb_apply_order o
    left join sdb_student_apply s on o.apply_id=s.id
    left join sdb_school ol on o.school_id=ol.id
    where 1=1
        <if test="phone !=null  and phone != '' ">
            and s.phone=#{phone}
        </if>
        <if test="school_id !=null  and school_id != '' ">
            and o.school_id=#{school_id}
        </if>
        <if test="idcard !=null  and idcard != '' ">
            and s.idcard=#{idcard}
        </if>
        <if test="name !=null  and name != '' ">
            and s.name=#{name}
        </if>
        <if test="status !=null  and status != '' ">
            and o.status=#{status}
        </if>
        <if test="order_sn !=null  and order_sn != '' ">
            and o.order_sn=#{order_sn}
        </if>
        <if test="traintype !=null  and traintype != '' ">
            and s.traintype=#{traintype}
        </if>


   </select>

    <select id="getOrderDetail" resultType="com.project.model.school.Order" parameterType="com.project.model.school.Order">
        select a.*
         from
        sdb_subject_order a
        where 1=1

        <if test="id !=null  and id != '' ">
            and a.id=#{id}
        </if>
        <if test="order_sn !=null  and order_sn != '' ">
            and a.order_sn=#{order_sn}
        </if>
        <if test="subject_name !=null  and subject_name != '' ">
            and a.subject_name=#{subject_name}
        </if>
        <if test="status !=null  and status != '' ">
            and a.status=#{status}
        </if>
        <if test="member_id !=null  and member_id != '' ">
            and a.member_id=#{member_id}
        </if>

        limit 1
    </select>

    <insert id="saveOrder" parameterType="com.project.model.school.Order">

        insert into sdb_subject_order
        <trim prefix="(" suffix=")"  suffixOverrides=",">

            <if test="order_sn != null  and order_sn != '' ">
                order_sn,
            </if>
            <if test="num != null  and num != '' ">
                num,
            </if>
            <if test="member_id != null  and member_id != '' ">
                member_id,
            </if>
            <if test="apply_id != null  and apply_id != '' ">
                apply_id,
            </if>
            <if test="school_id != null  and school_id != '' ">
                school_id,
            </if>
            <if test="subject_id != null  and subject_id != '' ">
                subject_id,
            </if>
            <if test="price != null  and price != '' ">
                price,
            </if>
            <if test="status != null  and status != '' ">
                status,
            </if>
            <if test="time != null  and time != '' ">
                time,
            </if>
            <if test="subject_name != null  and subject_name != '' ">
                subject_name,
            </if>
            <if test="pay_time != null  and pay_time != '' ">
                pay_time,
            </if>
            <if test="pay_method != null  and pay_method != '' ">
                pay_method,
            </if>
            <if test="confirm_time != null  and confirm_time != '' ">
                confirm_time,
            </if>
            <if test="refund_time != null  and refund_time != '' ">
                refund_time,
            </if>
            <if test="cancel_time != null  and cancel_time != '' ">
                cancel_time,
            </if>
            <if test="remarks != null  and remarks != '' ">
                remarks,
            </if>
            <if test="subject != null  and subject != '' ">
                subject,
            </if>


        </trim>

        <trim prefix="values(" suffix=")"  suffixOverrides=",">

            <if test="order_sn != null  and order_sn != '' ">
                #{order_sn},
            </if>
            <if test="num != null  and num != '' ">
                #{num},
            </if>
            <if test="member_id != null  and member_id != '' ">
                #{member_id},
            </if>
            <if test="apply_id != null  and apply_id != '' ">
                #{apply_id},
            </if>
            <if test="school_id != null  and school_id != '' ">
                #{school_id},
            </if>
            <if test="subject_id != null  and subject_id != '' ">
                #{subject_id},
            </if>
            <if test="price != null  and price != '' ">
                #{price},
            </if>
            <if test="status != null  and status != '' ">
                #{status},
            </if>
            <if test="time != null  and time != '' ">
                #{time},
            </if>
            <if test="subject_name != null  and subject_name != '' ">
                #{subject_name},
            </if>
            <if test="pay_time != null  and pay_time != '' ">
                #{pay_time},
            </if>
            <if test="pay_method != null  and pay_method != '' ">
                #{pay_method},
            </if>
            <if test="confirm_time != null  and confirm_time != '' ">
                #{confirm_time},
            </if>
            <if test="refund_time != null  and refund_time != '' ">
                #{refund_time},
            </if>
            <if test="cancel_time != null  and cancel_time != '' ">
                #{cancel_time},
            </if>
            <if test="remarks != null  and remarks != '' ">
                #{remarks},
            </if>
            <if test="subject != null  and subject != '' ">
                #{subject},
            </if>


        </trim>
    </insert>



    <update id="updateOrder" parameterType="com.project.model.school.Order">
      update sdb_apply_order
        <trim prefix="SET"  suffixOverrides=",">

            <if test="status != null  and status != '' ">
                status=  #{status},
            </if>
            <if test="time != null  and time != '' ">
                time= #{time},
            </if>
            <if test="pay_time != null  and pay_time != '' ">
                pay_time= #{pay_time},
            </if>
            <if test="refund_time != null  and refund_time != '' ">
                refund_time= #{refund_time},
            </if>
            <if test="pay_method != null  and pay_method != '' ">
                pay_method= #{pay_method},
            </if>
            <if test="apply_id != null  and apply_id != '' ">
                apply_id= #{apply_id},
            </if>
            <if test="school_id != null  and school_id != '' ">
                school_id= #{school_id},
            </if>
            <if test="subject_id != null  and subject_id != '' ">
                subject_id= #{subject_id},
            </if>
            <if test="subject != null  and subject != '' ">
                subject= #{subject},
            </if>
            <if test="remarks != null  and remarks != '' ">
                remarks= #{remarks},
            </if>

        </trim>

      where 1=1
        <if test="id != null  and id != '' ">
            and id= #{id}
        </if>
        <if test="order_sn != null  and order_sn != '' ">
            and order_sn= #{order_sn}
        </if>
    </update>


</mapper>