<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.admin.SubjectMapper">


   <select id="getSubjectCount" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">
       select count(1)
       from
       sdb_school_subject a,
       sdb_school b
       where a.school_id =b.id
       and a.flag ='1'
       <if test="school_id !=null  and school_id != '' ">
           and b.id=#{school_id}
       </if>
       <if test="school_name !=null  and school_name != '' ">
           and b.school_name=#{school_name}
       </if>
       <if test="school_code !=null  and school_code != '' ">
           and b.school_code=#{school_code}
       </if>
       <if test="subject !=null  and subject != '' ">
           and a.subject=#{subject}
       </if>
       <if test="subject_name !=null  and subject_name != '' ">
           and a.subject_name=#{subject_name}
       </if>
   </select>

    <select id="getSubjectList" parameterType="com.project.utils.PageData" resultType="java.util.Map">

      select a.id, b.school_name,a.subject,a.price,a.discount_price,
        case a.subject_name when 1 then '科目二'
        when 2 then '科目三'
        when 3 then '科目二单学时'
        when 4 then '科目三单学时'
        END as subject_name,a.hours,
      date_format(a.create_time, '%Y-%m-%d %H:%i:%s') as create_time from
        sdb_school_subject a,
        sdb_school b

      where a.school_id =b.id
        and a.flag ='1'
        <if test="school_id !=null  and school_id != '' ">
            and b.id=#{school_id}
        </if>
        <if test="school_name !=null  and school_name != '' ">
            and b.school_name=#{school_name}
        </if>
        <if test="school_code !=null  and school_code != '' ">
            and b.school_code=#{school_code}
        </if>
        <if test="subject !=null  and subject != '' ">
            and a.subject=#{subject}
        </if>
        <if test="subject_name !=null  and subject_name != '' ">
            and a.subject_name=#{subject_name}
        </if>

    limit #{startIndex},#{pageSize}

   </select>

    <select id="getSubjectDetail" resultType="com.project.model.school.Subject" parameterType="com.project.model.school.Subject">
        select a.*
         from
        sdb_school_subject a
        where 1=1
        and a.flag ='1'
        <if test="id !=null  and id != '' ">
            and a.id=#{id}
        </if>
        <if test="school_id !=null  and school_id != '' ">
            and a.school_id=#{school_id}
        </if>
        <if test="subject_name !=null  and subject_name != '' ">
            and a.subject_name=#{subject_name}
        </if>
        <if test="subject !=null  and subject != '' ">
            and a.subject=#{subject}
        </if>
        limit 1
    </select>

    <insert id="saveSubject" parameterType="com.project.utils.PageData">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into sdb_school_subject
        <trim prefix="(" suffix=")"  suffixOverrides=",">

            <if test="school_id != null  and school_id != '' ">
                school_id,
            </if>
            <if test="subject != null  and subject != '' ">
                subject,
            </if>
            <if test="subject_name != null  and subject_name != '' ">
                subject_name,
            </if>
            <if test="flag != null  and flag != '' ">
                flag,
            </if>
            <if test="mark != null  and mark != '' ">
                mark,
            </if>
            <if test="price != null  and price != '' ">
                price,
            </if>
            <if test="hours != null  and hours != '' ">
                hours,
            </if>



        </trim>

        <trim prefix="values(" suffix=")"  suffixOverrides=",">

            <if test="school_id != null  and school_id != '' ">
                #{school_id},
            </if>
            <if test="subject != null  and subject != '' ">
                #{subject},
            </if>
            <if test="subject_name != null  and subject_name != '' ">
                #{subject_name},
            </if>
            <if test="flag != null  and flag != '' ">
                #{flag},
            </if>
            <if test="mark != null  and mark != '' ">
                #{mark},
            </if>
            <if test="price != null  and price != '' ">
                #{price},
            </if>
            <if test="hours != null  and hours != '' ">
                #{hours},
            </if>

        </trim>
    </insert>



    <update id="updateSubject" parameterType="com.project.utils.PageData">
      update sdb_school_subject
        <trim prefix="SET"  suffixOverrides=",">

            <if test="school_id != null  and school_id != '' ">
                school_id=  #{school_id},
            </if>
            <if test="subject != null  and subject != '' ">
                subject= #{subject},
            </if>
            <if test="subject_name != null  and subject_name != '' ">
                subject_name= #{subject_name},
            </if>
            <if test="flag != null  and flag != '' ">
                flag= #{flag},
            </if>
            <if test="mark != null  and mark != '' ">
                mark= #{mark},
            </if>
            <if test="price != null  and price != '' ">
                price= #{price},
            </if>
            <if test="hours != null  and hours != '' ">
                hours= #{hours},
            </if>

        </trim>

      where 1=1
        <if test="id != null  and id != '' ">
            and id= #{id}
        </if>
    </update>


</mapper>