<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.admin.TeacherMapper">


   <select id="getTeacherCount" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">
       select count(1)
       from
       sdb_school_teacher a
       LEFT join sdb_school b
       on a.school_id =b.id
       where 1=1
       and a.flag ='1'
       <if test="school_name !=null  and school_name != '' ">
           and b.school_name=#{school_name}
       </if>
       <if test="school_code !=null  and school_code != '' ">
           and b.school_code=#{school_code}
       </if>
       <if test="teacher_phone !=null  and teacher_phone != '' ">
           and a.teacher_phone=#{teacher_phone}
       </if>
       <if test="teacher_name !=null  and teacher_name != '' ">
           and a.teacher_name=#{teacher_name}
       </if>
   </select>

    <select id="getTeacherList" parameterType="com.project.utils.PageData" resultType="java.util.Map">

      select a.id,b.school_name, a.teacher_name,a.teacher_phone,a.teacher_sex,a.teacher_img,
      a.orders,
      date_format(a.create_time, '%Y-%m-%d %H:%i:%s') as create_time from
        sdb_school_teacher a
        left  join  sdb_school b
        on a.school_id =b.id
      where 1=1
        and a.flag ='1'
        <if test="school_name !=null  and school_name != '' ">
            and b.school_name=#{school_name}
        </if>
        <if test="school_code !=null  and school_code != '' ">
            and b.school_code=#{school_code}
        </if>
        <if test="teacher_phone !=null  and teacher_phone != '' ">
            and a.teacher_phone=#{teacher_phone}
        </if>
        <if test="teacher_name !=null  and teacher_name != '' ">
            and a.teacher_name=#{teacher_name}
        </if>
        order by a.orders
    limit #{startIndex},#{pageSize}

   </select>

    <select id="getTeacherDetail" resultType="com.project.model.school.SchoolModel" parameterType="com.project.model.school.SchoolModel">
        select a.*,

        ROUND((select sum(star) from sdb_school_feedback f WHERE f.school_id=a.id)
        /(select count(1) from sdb_school_feedback f1 WHERE f1.school_id=a.id),1)
        as star,

        (select count(1) from sdb_school_feedback f1 WHERE f1.school_id=a.id)
        as feedback_count
         from
        sdb_school a
        where 1=1
        and flag ='1'
        <if test="id !=null  and id != '' ">
            and a.id=#{id}
        </if>
        <if test="school_name !=null  and school_name != '' ">
            and a.school_name=#{school_name}
        </if>
        <if test="school_code !=null  and school_code != '' ">
            and a.school_code=#{school_code}
        </if>
        limit 1
    </select>

    <insert id="saveTeacher" parameterType="com.project.utils.PageData">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into sdb_school_teacher
        <trim prefix="(" suffix=")"  suffixOverrides=",">

            <if test="school_id != null  and school_id != '' ">
                school_id,
            </if>
            <if test="teacher_name != null  and teacher_name != '' ">
                teacher_name,
            </if>
            <if test="teacher_sex != null  and teacher_sex != '' ">
                teacher_sex,
            </if>
            <if test="teacher_apply != null  and teacher_apply != '' ">
                teacher_apply,
            </if>
            <if test="teacher_img != null  and teacher_img != '' ">
                teacher_img,
            </if>
            <if test="teacher_describe != null  and teacher_describe != '' ">
                teacher_describe,
            </if>
            <if test="teacher_phone != null  and teacher_phone != '' ">
                teacher_phone,
            </if>
            <if test="orders != null  and orders != '' ">
                orders,
            </if>
            <if test="flag != null  and flag != '' ">
                flag,
            </if>


        </trim>

        <trim prefix="values(" suffix=")"  suffixOverrides=",">

            <if test="school_id != null  and school_id != '' ">
                #{school_id},
            </if>
            <if test="teacher_name != null  and teacher_name != '' ">
                #{teacher_name},
            </if>
            <if test="teacher_sex != null  and teacher_sex != '' ">
                #{teacher_sex},
            </if>
            <if test="teacher_apply != null  and teacher_apply != '' ">
                #{teacher_apply},
            </if>
            <if test="teacher_img != null  and teacher_img != '' ">
                #{teacher_img},
            </if>
            <if test="teacher_describe != null  and teacher_describe != '' ">
                #{teacher_describe},
            </if>
            <if test="teacher_phone != null  and teacher_phone != '' ">
                #{teacher_phone},
            </if>
            <if test="orders != null  and orders != '' ">
                #{orders},
            </if>
            <if test="flag != null  and flag != '' ">
                #{flag},
            </if>

        </trim>
    </insert>



    <update id="updateTeacher" parameterType="com.project.utils.PageData">
      update sdb_school_teacher
        <trim prefix="SET"  suffixOverrides=",">

            <if test="school_code != null  and school_code != '' ">
                school_code=  #{school_code},
            </if>
            <if test="school_name != null  and school_name != '' ">
                school_name= #{school_name},
            </if>
            <if test="school_icon != null  and school_icon != '' ">
                school_icon= #{school_icon},
            </if>
            <if test="school_face != null  and school_face != '' ">
                school_face= #{school_face},
            </if>
            <if test="school_location != null  and school_location != '' ">
                school_location= #{school_location},
            </if>
            <if test="school_location_x != null  and school_location_x != '' ">
                school_location_x= #{school_location_x},
            </if>
            <if test="school_location_y != null  and school_location_y != '' ">
                school_location_y= #{school_location_y},
            </if>
            <if test="school_phone != null  and school_phone != '' ">
                school_phone= #{school_phone},
            </if>
            <if test="school_describe != null  and school_describe != '' ">
                school_describe= #{school_describe},
            </if>
        </trim>

      where 1=1
        <if test="id != null  and id != '' ">
            and id= #{id}
        </if>
    </update>


</mapper>