<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.SystemMapper">

<!--获取菜单-->
    <select id="getMenuList" parameterType="java.util.Map" resultType="com.project.model.Menu">

        select * from system_menu
        where 1=1
        <choose>
            <when test="parentId != null  and parentId != '' ">
                and parent =#{parentId}
            </when>
            <otherwise>
                and parent =0
            </otherwise>
        </choose>
        order  by orders
    </select>

    <select id="getAllMenuList" resultType="com.project.model.Menu">
            select * from system_menu
    </select>

    <select id="checkUser" parameterType="com.project.model.User" resultType="com.project.model.User">
        select * from sys_user
        where username =#{username}
        and password =#{password}
        limit 1
    </select>

    <select id="getAdminUserCount" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">
       select count(1)
       from
       sys_user


   </select>

    <select id="getAdminUserList" parameterType="com.project.utils.PageData" resultType="java.util.Map">

      select * from sys_user

      limit #{startIndex},#{pageSize}

   </select>


    <select id="getAdminUserDetail" resultType="com.project.model.User" parameterType="com.project.model.User">
        select * from sys_user a
        where 1=1
        <if test="id !=null  and id != '' ">
            and a.id=#{id}
        </if>
        limit 1
    </select>



    <insert id="saveSystemUser" parameterType="com.project.utils.PageData">
      insert into sys_user
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="username != null  and username != '' ">
              username,
          </if>
          <if test="password != null  and password != '' ">
              password,
          </if>
          <if test="nickname != null  and nickname != '' ">
              nickname,
          </if>
          <if test="pri != null  and pri != '' ">
              pri,
          </if>
      </trim>
      <trim prefix="values(" suffix=")" suffixOverrides=",">
          <if test="username != null  and username != '' ">
              #{username},
          </if>
          <if test="password != null  and password != '' ">
              #{password},
          </if>
          <if test="nickname != null  and nickname != '' ">
              #{nickname},
          </if>
          <if test="pri != null  and pri != '' ">
              #{pri},
          </if>
      </trim>

    </insert>

    <update id="updateSystemUser" parameterType="com.project.utils.PageData">
        update
        sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="pri != null  and pri != '' ">
                pri=  #{pri},
            </if>
            <if test="password != null  and password != '' ">
                password= #{password},
            </if>
        </trim>
        where id =#{id}
    </update>

</mapper>