<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.ocard.OcardMapper">


   <select id="getOilTicketTotal" parameterType="com.project.utils.PageData" resultType="java.lang.Integer">
    select count(1)
    from
    chuang_user_ticket
       where 1=1
       <if test="order_sn !=null  and order_sn != '' ">
           and order_sn=#{order_sn}
       </if>
       <if test="code !=null  and code != '' ">
           and code=#{code}
       </if>
   </select>

    <select id="getOilTicketList" parameterType="com.project.utils.PageData" resultType="java.util.Map">
    select id,code,uid,is_used,order_id,order_sn,used_time,code_price
    from
    chuang_user_ticket
    where 1=1
    <if test="order_sn !=null  and order_sn != '' ">
        and order_sn=#{order_sn}
    </if>
        <if test="code !=null  and code != '' ">
            and code=#{code}
        </if>
    order by order_sn desc
    limit #{startIndex},#{pageSize}

   </select>


    <select id="getOcardTicketTotal"  parameterType="com.project.utils.PageData" resultType="java.lang.Integer">
        select count(1)
        from (
                select ta.* from
                chuang_user_ticket_card_address ta
                ,chuang_shop_order o
                where ta.order_id =o.id
                and o.status ='1'
            <if test="status !=null  and status != '' ">
                and ta.status =#{status}
            </if>
            <if test="mobile !=null  and mobile != '' ">
            and ta.mobile =#{mobile}
            </if>
            <if test="order_sn !=null  and order_sn != '' ">
            and ta.order_sn =#{order_sn}
            </if>
                )
                a
    </select>


    <select id="getOcardTicketList" parameterType="com.project.utils.PageData" resultType="com.project.model.OilCardTicket">

        select ta.*, FROM_UNIXTIME(ta.create_time,'%Y-%m-%d %H:%i') as create_times from
        chuang_user_ticket_card_address ta
        ,chuang_shop_order o
        where ta.order_id =o.id
        and o.status ='1'
        <if test="status !=null  and status != '' ">
            and ta.status =#{status}
        </if>
        <if test="mobile !=null  and mobile != '' ">
            and ta.mobile =#{mobile}
        </if>
        <if test="order_sn !=null  and order_sn != '' ">
            and ta.order_sn =#{order_sn}
        </if>
        limit #{startIndex},#{pageSize}
    </select>


    <select id="getOcardTicketInfo"  parameterType="com.project.utils.PageData" resultType="com.project.model.OilCardTicket">
        select * from
         chuang_user_ticket_card_address
         where 1=1
        <if test="order_sn !=null  and order_sn != '' ">
            and order_sn =#{order_sn}
        </if>
        <if test="id !=null  and id != '' ">
            and id =#{id}
        </if>
        <if test="order_id !=null  and order_id != '' ">
            and order_id =#{order_id}
        </if>
    </select>


    <update id="updateExpress" parameterType="com.project.utils.PageData">
       update
         chuang_user_ticket_card_address

        <trim prefix="SET"  suffixOverrides=",">

            <if test="express_name != null  and express_name != '' ">
                express_name=  #{express_name},
            </if>
            <if test="express_mobile != null  and express_mobile != '' ">
                express_mobile= #{express_mobile},
            </if>
        </trim>
         where id=#{id}
    </update>

</mapper>