<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<span th:insert="head::common_js_css"></span>
<head>
	<meta charset="utf-8">
	<title>后台登陆</title>
	<link rel="stylesheet" href="/css/login.css" media="all" />
	<style>
		html,body {
			height: 100%;
		}
	</style>
</head>
	<div class="video_mask"></div>
	<div class="login">
	    <h1 th:text="${loginname}"></h1>
	    <form class="layui-form" method="post">
	    	<div class="layui-form-item">
				<input class="layui-input" name="username" placeholder="用户名" lay-verify="required" type="text" autocomplete="off">
		    </div>
		    <div class="layui-form-item">
				<input class="layui-input" name="password" placeholder="密码" lay-verify="required" type="password" autocomplete="off">
		    </div>

			<button class="layui-btn login_btn" lay-submit="" lay-filter="login">登录</button>
		</form>
	</div>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>